<div class="content-info-user-l p-2 @hideShowInfo">

    <div class="d-flex">
        <div class="p-2 flex-shrink-1">
            <img class="cursor-pointer w-50" src="./img/cerrar_sesion2x.svg" @onclick="CloseL" />
        </div>
    </div>
</div>

@code {
    [Parameter]
    public bool ShowInfo { get; set; }

    string hideShowInfo = string.Empty;

    bool ShowClose = false;

    @inject NavigationManager Navigation

    private void CloseL()
    {
        Navigation.NavigateTo("/");

    }

    protected override void OnParametersSet()
    {
        if (ShowInfo)
        {
            hideShowInfo = "d-block";
        }
        else Close();
    }

    private void Close()
    {
        hideShowInfo = "d-none";
    }
}