<div class="row">
    <div class="col-12">
        <div class="bg-section p-2 w-100 ">
            <h6 class="label-header">@Titulo</h6>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Titulo { get; set; }
}
